@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4" id="header">Welcome to My Website</h1>
    <p>Check out the music video to my all-time favorite song!</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/pkcJEvMcnEg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    <div id="reveal">
        <p>Lithium by Nirvana</p>
    </div>
    <img class="logo" src="~/css/nirvana.png" alt="Nirvana Smiley">
</div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js">onclick</script>